#info {
    text-align: center;
    color:	#b51f09;
    font-size: 20px;
    
}

.dimSum {
    width: 100%;
    height: 550px;
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
}

.logo {
    position: absolute;
    top: 12%;
    left: 34%;
    width: 621px;
    height: 350px;
}